@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.billboard-container{
  height: 30.375rem;
  width: 90%;
  background-image: url("../public/assets/images/Cate_bg.svg");
  margin: 140px 5% 71px 5%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.billboard-container div{
  width: 62px;
  background-color: #fafafa;
  border-radius: 50%;
}
.overlay-content{
  position: absolute;
  top : 16.6rem;
  left:3.82rem;
  display: hidden;
}
.playstation-container{
  background-image: url("../public/assets/images/playstation.svg");
  width: 570px;
  height: 600px;
  background-size: cover;
  background-position: center;
  border-radius: 4px 0px 0px 0px;
  position: relative;
}

.beautiful-woman{
  width: 570px;
  height: 284px;
  gap: 0px; 
  border-radius: 4px 0 0 0;
  background-image: url('../public/assets//images/attractive\ woman.svg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.speaker{width: 270px;
height: 284px;
background-image: url('../public/assets/images/speakers.svg');
background-size: cover;
background-repeat: no-repeat; 
border-radius: 4px 0 0 0; 
position: relative;
}

.perfume{
  width: 270px;
  height: 284px;
  background-image: url('../public/assets/images/perfumes.svg');
  background-size: cover; 
  background-repeat: no-repeat; 
  border-radius: 4px 0 0 0;
  position: relative;
}

.icon-card .icon {
  filter: none;
  transition: filter 0.3s ease;
}
.icon-card:hover .icon{
  filter:brightness(0) invert(1)
}

